@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,20%,0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

.animation {
    @include animation;
    &__animated {
        @include animated;
    }
}

// __active {
//     span {
//         background: $light;
//         &:nth-last-child(1) {
//             transform: translateY(-8px) rotate(-45deg);
//         }
//         &:nth-last-child(2) {
//             display: none;
//         }
//         &:nth-last-child(3) {
//             transform: translateY(10px) rotate(45deg);
//         }
//     }
// }

// .language {
//     transition: 0.5s all;
// }