
@media (max-width: 992px) {
    .contacts, .education, .experience {
        .container {
            padding-bottom: 50px;
        }
    }

    .navigation {
        opacity: 0;
        visibility: hidden;
        right: 30px;
        top: 120vh;
        &__active {
            visibility: visible;
            opacity: 1;
            li {
                &:nth-child(1) {
                    transform: translateY(-100vh);
                    transition: transform 0.4s 0s;
                }
                &:nth-child(2) {
                    transform: translateY(-100vh);
                    transition: transform 0.2s 0.3s;  
                }
                &:nth-child(3) {
                    transform: translateY(-100vh);
                    transition: transform 0.2s 0.5s; 
                }
            }
        }
        &__circles {
            li {
                margin-bottom: 30px;
            }
            &__item.activeMenu {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .promo {
        &__photo {
            height: 550px;
            top: 70px;
        }

        &__title, .name-left, .surname-right {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        &__switch {
            &__moon {
                transition: 0.2s all;
                &__active {
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.2s all;
                    &__hamburger {
                        visibility: visible;
                        opacity: 1;
                        position: fixed;
                        right: 300px;
                        z-index: 3;
                        transition: 0.25s all 0.25s;
                    }
                }
            }
            &__sun {
                transition: 0.2s all;
                &__active {
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.2s all;
                    &__hamburger {
                        visibility: visible;
                        opacity: 1;
                        position: fixed;
                        right: 300px;
                        z-index: 3;
                        transition: 0.25s all 0.25s;
                    }
                }
            }
        }
        &__hamburger {
            position: absolute;
            top: 25px;
            right: 0;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            cursor: pointer;
            span {
                z-index: 10;
                display: block;
                width: 25px;
                height: 2px;
                background: $dark;
                transition: 0.5s all;
            }
            &__active {
                position: fixed;
                right: 20px;
                z-index: 3;
                span {
                    &:nth-last-child(1) {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                    &:nth-last-child(2) {
                        opacity: 0;
                        transition-delay: 0s;
                    }
                    &:nth-last-child(3) {
                        transform: translateY(10px) rotate(45deg);
                    }
                }
            }
        }
    }

    .name-right {
        display: none;
    }

    .name-left {
        overflow: visible;
        top: 510px;
    }

    .surname {
        &-right {
            color: $dark;
            overflow: visible;
            top: 560px;
        }
        &-left.en {
            display: none;
        }
    }

    .right, .left {
        &-profession, &-profession.en {
            color: $dark;
            left: 50%;
            transform: translateX(-50%);
            top: 720px;
        }
    }

    .education, .experience, .contacts, .promo {
        padding: 0 20px 0 20px;
    }

    .about {
        padding: 0 20px 30px 20px;
        &__description1, &__description2 {
            min-height: 130px;
        }
    }

    .title_fz35 {
        margin: 70px 0 25px 0;
    }

    .divider {
        height: 120px;
    }

    .education {
        &__years {
            margin-top: 20px;
        }
        .divider {
            height: 100px;
        }
    }

    .contacts {
        &__form {
            margin-top: 0;
            grid-template: 40px 40px 150px 40px/repeat(2,auto);
        }
        &__wrapper.ru, &__wrapper.ua, &__wrapper.en {
            margin-top: 20px;
        }
    }
}

@media (max-width: 480px) {
    * {
        font: normal normal normal 14px/1.7em "open sans", sans-serif;
    }

    .contacts, .education, .experience, .about {
        .container {
            padding-bottom: 30px;
            margin: 0 10px 0 10px ;
        }
    }

    .divider {
        height: 100px;
    }

    .title_fz35 {
        font-size: 29px;
        margin: 50px 0 20px 0;
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }

    .promo {
        height: 650px;
        &__photo {
            height: 420px;
        }
        &__title, .name-left, .surname-right {
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font: italic normal normal 42px/1.1em georgia,palatino,"book antiqua","palatino linotype",serif;
        }
        &__switch {
            &__sun, &__moon {
                &__active {
                    &__hamburger {
                        right: 200px;
                    }
                }
            }
        }
    }

    .name-right {
        display: none;
    }

    .name-left {
        overflow: visible;
        top: 390px;
    }

    .surname {
        &-right {
            color: $dark;
            overflow: visible;
            top: 435px;
            left: 0;
        }
    }

    .right, .left {
        &-profession, &-profession.en {
            color: $dark;
            left: 50%;
            transform: translateX(-50%);
            top: 590px;
            font-size: 16px;
        }
    }

    .education {
        &__years {
            margin-top: 20px;
        }
        .divider {
            height: 80px;
        }
    }

    .contacts {
        margin-bottom: 20px;
        &__form {
            grid-template: 40px 40px 40px 200px 40px/repeat(1,240px);
        }
        &__button {
            font-size: 16px;
        }
        &__input {
            &:nth-child(3) {
                grid-column: unset;
            }    
        }
        &__textarea {
            grid-column: unset;
        }
        &__button {
            grid-column: unset;
        }
    }

    .footer {
        &__arrow {
            margin-top: 10px;
        }
        &__wrapper {
            margin: 10px 0;
        }
    }
}