$font-faces: (
  'book antiqua': '../fonts/bookantiqua.ttf',
  'georgia': '../fonts/georgia.ttf',
  'palatino': '../fonts/Palatino.ttf',
  'palatino linotype': '../fonts/palatinolinotype_italic.ttf',
  'open sans': '../fonts/OpenSans-Light.ttf'
);

$light: #ffeae0;
$dark: #383838;
$grey: #666666;