@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

@each $font-name, $font-path in $font-faces {
  @font-face {
    font-family: #{$font-name};
    src: url($font-path);
  }
}

* {
    margin: 0;
    padding: 0;
    font: normal normal normal 15px/1.4em 'open sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: $dark;
    transition: 0.5s;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.divider {
    width: 2px;
    height: 160px;
    margin: 0 auto;
    background-color: rgba(255, 234, 224, 0.5);
}

.education, .experience {
    .divider {
        height: 120px;
    }
}

.experience, .contacts, .education {
    .container {
        border: 5px solid $light;
        max-width: 870px;
        padding-bottom: 100px;
    }
}

@import 'blocks/navigation';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/about';
@import 'blocks/experience-education';
@import 'blocks/contacts';
@import 'blocks/footer';
@import 'blocks/modal';

@import 'base/media';
// @import 'base/darkTheme';

.show {
    display: block;
}

.hide {
    display: none;
}