.experience {
    margin-top: 50px;
    position: relative;
    align-items: center;
}

.experience, .education {
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__years {
        margin-top: 30px;
        text-align: center;
        line-height: 1.7em;
    }
    &__description {
        margin-top: 20px;
        max-width: 430px;
        line-height: 1.7em;
        text-align: center;
    }
}

.education {
    .container {
        border: 5px solid $light;
        max-width: 660px;
        padding-bottom: 100px;
    }
    &__institution {
        text-decoration: none;
        text-align: center;
        color: $dark;
    }
}