.footer {
    &__arrow {
        display: flex;
        justify-content: center;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        margin-bottom: 20px;
    }
    &__creator {
        &__name {
            text-decoration: none;
            color: $dark;
        }
    }
}