.promo__title, .name-right, .name-left, .surname-right, .surname-left, .name-left-ua{
    position: absolute;
    font: italic normal normal 55px/1.4em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
    text-align: right;
    width: 340px;
    line-height: 55px;
    top: 110px;
}

.right, .left {
    &-profession {
        position: absolute;
        font-size: 20px;
        left: 290px;
        color: $light;
        top: 340px;
    }
}

.right-profession.en {
    position: absolute;
    font-size: 20px;
    left: 270px;
    color: $light;
    top: 340px;
}

.name {
    &-left {
        color: $dark;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: clip;
        white-space: nowrap;
        left: 65.5px;
    }
    &-right {
        color: $light;
        width: 52%;
        overflow: visible;
        text-overflow: ellipsis;
        text-overflow: clip;
        white-space: nowrap;
        direction: rtl;
        left: 230px;
    }
}

.name {
    &-left.ua {
        color: $dark;
        width: 39.5%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: clip;
        white-space: nowrap;
        left: 101px;
    }
    &-left.en {
        color: $dark;
        width: 45.5%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: clip;
        white-space: nowrap;
        left: 80px;
    }
}

.surname {
    &-left {
        color: $dark;
        width: 13.5%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: clip;
        white-space: nowrap;
        top: 170px;
        left: 225px;
        display: none;
    }
    &-left.en {
        color: $dark;
        width: 16.5%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: clip;
        white-space: nowrap;
        top: 170px;
        left: 180px;
        display: block;
    }
    &-right {
        color: $light;
        top: 170px;
        left: 65px;
    }
}

.title {
    &_fz35 {
        font: italic normal normal 35px georgia, palatino, 'book antiqua', 'palatino linotype', serif;
        text-align: center;
        margin: 100px 0 30px 0;
    }
}